.space-xsmall { 
	padding-top: 20px; 
	padding-bottom:20px;
}
.space-small { 
	padding-top: 40px; 
	padding-bottom:40px; 
}
.space-medium { 
	padding-top: 80px; 
	padding-bottom:80px; 
}
.space-large { 
	padding-top: 120px; 
	padding-bottom:120px; 
}
.space-xlarge { 
	padding-top: 140px; 
	padding-bottom:140px; 
}
